<%= form_with model: item do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% item.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :count %><br>
    <%= form.text_area :count %><br>
    <% item.errors.full_messages_for(:count).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
