<h1><%= @item.name %></h1>

<p>Number of <%= @item.name %>(s): <%= @item.count %></p>

<ul>
  <li><%= link_to "Edit Item", edit_item_path(@item) %></li>
  <li><%= link_to "Delete Item", item_path(@item), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure you want to delete this item?"
                  } %></li>
</ul>